@{
    ViewBag.Title = "New Business Checklist";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

    </head>

    <body style="background: black; margin-bottom: 20px">
        <div style="margin-top: 120px">
            <strong><font color="#800080">Foundational</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Industry research<br>
                <input type="checkbox" class="checkbox" id=""/> Product or service description<br>
                <input type="checkbox" class="checkbox" id=""/> Draft Members and Equity Document<br>
                <input type="checkbox" class="checkbox" id=""/> List of starting assets<br>
                <input type="checkbox" class="checkbox" id=""/> Funding model<br>
                <input type="checkbox" class="checkbox" id=""/> Feedback - friends, and families<br>
                <input type="checkbox" class="checkbox" id=""/> Lead acquisition strategy<br>
                <input type="checkbox" class="checkbox" id=""/> Executive Summary<br>
                <input type="checkbox" class="checkbox" id=""/> Timeline<br>
                <input type="checkbox" class="checkbox" id=""/> Business Plan Deck<br><br>
            </ul>
            <strong><font color="#800080">Internet Assets Infrastructure</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Domain name<br>
                <input type="checkbox" class="checkbox" id=""/> Email server and accounts<br>
                <input type="checkbox" class="checkbox" id=""/> Phone numbers<br>
                <input type="checkbox" class="checkbox" id=""/> Linked-In<br>
                <input type="checkbox" class="checkbox" id=""/> Crunchbase<br>
                <input type="checkbox" class="checkbox" id=""/> Google / Apple Maps<br>
                <input type="checkbox" class="checkbox" id=""/> Facebook<br>
                <input type="checkbox" class="checkbox" id=""/> Twitter<br>
                <input type="checkbox" class="checkbox" id=""/> Instagram<br>
                <input type="checkbox" class="checkbox" id=""/> Youtube<br>
            </ul>
            <strong><font color="#800080">Software</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Cloud-based project tracking software<br>
                <input type="checkbox" class="checkbox" id=""/> Communications platform<br>
                <input type="checkbox" class="checkbox" id=""/> Shared document repository<br>
                <input type="checkbox" class="checkbox" id=""/> Email client<br>
                <input type="checkbox" class="checkbox" id=""/> Office Software<br><br>
            </ul>
            <strong><font color="#800080">Register</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Determine Registered Agent<br>
                <input type="checkbox" class="checkbox" id=""/> File for an LLC / S-Scorp<br>
                <input type="checkbox" class="checkbox" id=""/> LLC or S-Corp Structure<br>
             </ul>
            <strong><font color="#800080">File Articles of Organization</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Management Structure<br>
                <input type="checkbox" class="checkbox" id=""/> Location of Operations<br>
                <input type="checkbox" class="checkbox" id=""/> Registered Agent<br>
            </ul>
            <strong><font color="#800080">File Operating Agreement</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Terms and Conditions<br>
                <input type="checkbox" class="checkbox" id=""/> Pay Structure<br>
                <input type="checkbox" class="checkbox" id=""/> Management System<br>
                <input type="checkbox" class="checkbox" id=""/> Voting Rights<br>
                <input type="checkbox" class="checkbox" id=""/> Removal or Additions of Members<br>
                <input type="checkbox" class="checkbox" id=""/> Amending the Agreement<br>
            </ul>
            <strong><font color="#800080">File Statement of Information (LLC-12)</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Filing Number<br>
                <input type="checkbox" class="checkbox" id=""/> LLC Name<br>
                <input type="checkbox" class="checkbox" id=""/> Address<br>
                <input type="checkbox" class="checkbox" id=""/> Name and address of the officers<br>
                <input type="checkbox" class="checkbox" id=""/> Description of your work<br>
                <input type="checkbox" class="checkbox" id=""/> Registered Agent Name and address<br>
                <input type="checkbox" class="checkbox" id=""/> Managers or members<br>
                <input type="checkbox" class="checkbox" id=""/> CEO<br>
                <input type="checkbox" class="checkbox" id=""/> Email Address<br>
            </ul>
            <strong><font color="#800080">Additional</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Register DBA with the state government<br>
                <input type="checkbox" class="checkbox" id=""/> Obtain EIN<br>
                <input type="checkbox" class="checkbox" id=""/> File federal form 941 within 12 months (Employee's Quarterly Federal Tax Form)<br>
                <input type="checkbox" class="checkbox" id=""/> File federal form 940 within 15 months (Employers Annual Federal Unemployment Tax Return)<br>
                <input type="checkbox" class="checkbox" id=""/> Pay fees for local and state Franchise Tax<br>
                <input type="checkbox" class="checkbox" id=""/> If selling goods, register Sales Tax<br>
                <input type="checkbox" class="checkbox" id=""/> Bank account<br>
                <input type="checkbox" class="checkbox" id=""/> Business licenses<br>
                <input type="checkbox" class="checkbox" id=""/> Seller permits<br>
                <input type="checkbox" class="checkbox" id=""/> Trademarks<br>
                <input type="checkbox" class="checkbox" id=""/> Patents<br>
                <input type="checkbox" class="checkbox" id=""/> Logo<br>
                <input type="checkbox" class="checkbox" id=""/> Business Cards<br>
                <input type="checkbox" class="checkbox" id=""/> Letterhead<br>
                <input type="checkbox" class="checkbox" id=""/> Non-Disclosure Agreement<br>
                <input type="checkbox" class="checkbox" id=""/> Invoice template<br>
                <input type="checkbox" class="checkbox" id=""/> Purchase Order template<br>
                <input type="checkbox" class="checkbox" id=""/> Inventory requirements<br>
                <input type="checkbox" class="checkbox" id=""/> Website<br>
                <input type="checkbox" class="checkbox" id=""/> Vendor list<br>
                <input type="checkbox" class="checkbox" id=""/> Merchant payment processing account<br>
                <input type="checkbox" class="checkbox" id=""/> Accounting system<br>
                <input type="checkbox" class="checkbox" id=""/> Accounting accounts<br>
                <input type="checkbox" class="checkbox" id=""/> Tax accounts<br>
                <input type="checkbox" class="checkbox" id=""/> General Ledger<br>
                <input type="checkbox" class="checkbox" id=""/> Business Insurance<br>
                <input type="checkbox" class="checkbox" id=""/> Compliance Calendar<br>
                <input type="checkbox" class="checkbox" id=""/> People Network Graph (external contacts and relationships)<br>
                <input type="checkbox" class="checkbox" id=""/> SWOT analysis<br>
                <input type="checkbox" class="checkbox" id=""/> Org chart<br>
                <input type="checkbox" class="checkbox" id=""/> Business mentors<br>
                <input type="checkbox" class="checkbox" id=""/> Affiliates<br>
                <input type="checkbox" class="checkbox" id=""/> Client sheet<br>
                <input type="checkbox" class="checkbox" id=""/> Employee directory<br>
                <input type="checkbox" class="checkbox" id=""/> Employee Resumes, Offer Letters, Signing Letter, NDA, onboarding package<br>
                <input type="checkbox" class="checkbox" id=""/> Employee payment process<br>
                <input type="checkbox" class="checkbox" id=""/> Employee benefits<br>
                <input type="checkbox" class="checkbox" id=""/> Determine how to conduct payroll<br>
                <input type="checkbox" class="checkbox" id=""/> Determine how to offer employee benefits<br>
                <input type="checkbox" class="checkbox" id=""/> Job offer template<br>
                <input type="checkbox" class="checkbox" id=""/> On-boarding package<br>
                <input type="checkbox" class="checkbox" id=""/> Marketing plan<br>
                <input type="checkbox" class="checkbox" id=""/> Price sheet<br>
                <input type="checkbox" class="checkbox" id=""/> Advertisements<br>
                <input type="checkbox" class="checkbox" id=""/> Drafted sales pitch<br>
                <input type="checkbox" class="checkbox" id=""/> Customer personas<br>
                <input type="checkbox" class="checkbox" id=""/> Call Center strategy<br>
                <input type="checkbox" class="checkbox" id=""/> Articles of risk and compliance<br>
                <input type="checkbox" class="checkbox" id=""/> Terms and Conditions<br>
                <input type="checkbox" class="checkbox" id=""/> Security Posture<br>
            </ul>

            <strong><font color="#800080">Documents requiring Letterheads</font></strong>
            <ul>
                <input type="checkbox" class="checkbox" id=""/> Executive Summary<br>
                <input type="checkbox" class="checkbox" id=""/> Business Plan<br>
                <input type="checkbox" class="checkbox" id=""/> Product Descriptions<br>
                <input type="checkbox" class="checkbox" id=""/> Standard Operating Procedures<br>
                <input type="checkbox" class="checkbox" id=""/> Sales Agreement<br>
                <input type="checkbox" class="checkbox" id=""/> Service Agreement<br>
                <input type="checkbox" class="checkbox" id=""/> Letter of Intent<br>
                <input type="checkbox" class="checkbox" id=""/> Non-Disclosure Agreement<br>
                <input type="checkbox" class="checkbox" id=""/> Disclosures<br>
                <input type="checkbox" class="checkbox" id=""/> Terms of Use<br>
                <input type="checkbox" class="checkbox" id=""/> Privacy Policy<br>
                <input type="checkbox" class="checkbox" id=""/> Release of Liability<br>
                <input type="checkbox" class="checkbox" id=""/> Bill of Materials<br>
                <input type="checkbox" class="checkbox" id=""/> Purchase Order<br>
                <input type="checkbox" class="checkbox" id=""/> Purchase Agreement<br>
                <input type="checkbox" class="checkbox" id=""/> Invoice<br>
                <input type="checkbox" class="checkbox" id=""/> Bill of Sale<br>
                <input type="checkbox" class="checkbox" id=""/> Scope of Work<br>
                <input type="checkbox" class="checkbox" id=""/> Job Application / Job Description<br>
                <input type="checkbox" class="checkbox" id=""/> Employment Offer Letter<br>
                <input type="checkbox" class="checkbox" id=""/> Employment Contract<br>
                <input type="checkbox" class="checkbox" id=""/> Employee Paystub<br>
                <input type="checkbox" class="checkbox" id=""/> Employee Handbook<br>
                <input type="checkbox" class="checkbox" id=""/> Non-Compete Agreement<br>
                <input type="checkbox" class="checkbox" id=""/> Minutes<br>
                <input type="checkbox" class="checkbox" id=""/> Balance Sheet<br>
                <input type="checkbox" class="checkbox" id=""/> Income Statement / Profit and Loss Statement<br>
                <input type="checkbox" class="checkbox" id=""/> Email Signature<br>
                <input type="checkbox" class="checkbox" id=""/> Fax Cover Sheet<br>
                <input type="checkbox" class="checkbox" id=""/> Letter of Recommendation<br>
                <input type="checkbox" class="checkbox" id=""/> Organizational Chart<br>
                <input type="checkbox" class="checkbox" id=""/> Term Sheet<br>
            </ul>
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
        
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>
    </body> 
</html>