@{
    ViewBag.Title = "Omni-Channel Marketing";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

    </head>

    <body style="background: black; margin-bottom: 20px">
        <div style="margin-top: 120px">
            <strong><font color="#800080">Branding</font></strong>
            <p>Branding is an art. A brand communicates the companies promise to its customers and visually sets the company apart from its competitors. It can speak to both general and target markets. 
                A brand is a theme, displayed through logos, names, packaging and marketing material. 
                Brands attract and retain customers. And a working brand will mature as the company grows.</p>
            <strong><font color="#800080">Advertising</font></strong>
            <p>Advertising is vital to the success of most companies. It is the only way to acquire customers at scale. Advertising mixes branding with promotions over marketing channels. Below is a common list of marketing channels that companies invest in.</p>
            <br>
            <strong><font color="#800080">Consumer direct marketing channels</font></strong>
            <ul>
                
                <li>Direct mail
                <li>Email
                <li>Mass email
                <li>Mobile push notification
                <li>Web push notification
                <li>Mobile/web chatbot
                <li>SMS
                <li>Voice
                <li>Fax
            </ul>

            <p><strong><font color="#800080">Audience based communication channels</font></strong></p>
            <ul>
                <li>Affiliates
                <li>Mobile ads
                <li>Website ads
                <li>Internet video ads
                <li>Internet animated ads
                <li>Paid subscription service ads
                <li>Television ads
                <li>Radio ads
                <li>Podcasts
                <li>Social Media
                <li>Influencers
                <li>Sponsorships
                <li>Search engine optimization
                <li>Word of mouth marketing
                <li>Print media
                <li>Print ads
                <li>Press releases
            </ul>


            <p><strong><font color="#800080">Reasons for mobile push notifications</font></strong></p>
            <ul>
                <li>Market discounts
                <li>Geo-marketing campaigns
                <li>Alerts on new product or features
                <li>2-factor authentication
                <li>reminders
                <li>Chatbot
                <li>Recurring marketing campaigns
                <li>In-app notifications
            </ul>
            </div>

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
            
            <script src="/lib/jquery/jquery.min.js"></script>
            <script src="/lib/jquery/jquery-migrate.min.js"></script>
            <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/lib/easing/easing.min.js"></script>
            <script src="/lib/superfish/hoverIntent.js"></script>
            <script src="/lib/superfish/superfish.min.js"></script>
            <script src="/lib/wow/wow.min.js"></script>
            <script src="/lib/waypoints/waypoints.min.js"></script>
            <script src="/lib/counterup/counterup.min.js"></script>
            <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="/lib/isotope/isotope.pkgd.min.js"></script>
            <script src="/lib/lightbox/js/lightbox.min.js"></script>
            <script src="/lib/editor.js/code.ts"></script>
                    
            <script src="/js/main.js"></script>
            <script src="/js/site.js"></script>

            <script>
        </script>
    </body>
</html>
