@{
    ViewBag.Title = "Standard Questionare";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

    </head>

    <body style="background: black; margin-bottom: 20px">
        <div style="margin-top: 120px">
            <div class="d-flex" style="background-color: #BBCDE1; border-radius: 40px; height: 40px">
                <p  class="pull-left" style="margin-left: 15px; margin-top: -4px">
                    <font style="color: black; font-size: 30px">
                        <strong>
                            <a id="overview" href="#" onmousedown="overviewClicked()" onmouseenter="style='color: #188263'" onmouseleave="style='color: #80080'">Questionare.</a>
                        </strong>  
                    </font>
                    </p>
            </div>
            <div id="overviewContainer" style="background-color: #BBCDE1; 
            border-radius: 0 0 40px 40px; 
            height: 180px;
            margin-top: 10px;
            display: none"
            >
                <p class="pull-left" style="margin-left: 20px; margin-top: 10px; padding: 40px, 5px, 10px, 20px">
                    <font style="color: black;">
                            Some clientsof our clients have enjoyed filling out a prepared questionere. It has served to greatly speeds up the onboarding process.
                    </font>
                </p>
            </div>
        </div>

        <div style="margin-top: 50px">
            <ul>
                <li>Describe the technology stack underlying the company's offerings.
                <li>Where is the company's platform hosted?
                <li>List strategic partnerships.
                <li>List of commonly used software platforms (i.e. Office, Slack, AWS)
                <li>Description of office sites.
                <li>Description of office hardware technology.
                <li>Logical diagram of the company's technology platform, identifying major components which are either internally developed or externally sourced.
                <li>Describe the interactions you make with your customers from their perspective. Provide slide show including screenshots of working demo of mobile apps, websites, customer correspondence (email, in-app notification, SMS, phone) and other digital assets.
                <li>Who is responsible for the tech stack? Provide name, background and org chart.
                <li>List and describe the current roles on the technology org chart including title, a summary of responsibilities, security clearance, and salary. Include contractors and service providers.
                <li>List government and corporate regulatory exposures (SOX, HIPPA, etc).
                <li>List social media links and governance.
                <li>List customer-supplied data retention policies including logging.
                <li>Copy of last comprehensive security review.
                <li>Provide architectural diagrams of assets hosted on the cloud service provider:
                    <ol>List services used.</ol>
                    <ol>Provide any data flow diagrams.</ol>
                    <ol>Provide any network topology.</ol>
                    <ol>Provide any database diagrams.</ol>
                    <ol>Describe any security topology.</ol>
                <li>Conduct Failure Mode Analysis.
                <li>Describe operational monitoring, alerting and reporting.
                <li>Provide a diagram of technology deployments. 
                <li>Provide the current product build queue/development road map for the platform and UX (mobile and web) with the timeline.
                <li>Provide a data flow narrative.
                <li>Describe the technology recruitment process.
                <li>How much does it cost to run for a month?
                <li>How are technology projects funded?
                <li>Last and current year's technology budget.
            </ul>
        </div>
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
        
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>

        <script>
                 var overvieContentHeight = "80px"; //initiate as false
                window.mobilecheck = function() {
                    var check = false;
                    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
                    return check;
                };
                if (window.mobilecheck() === true) {
                    overvieContentHeight = "100px";
                }  else {
                    overvieContentHeight = "40px";
                }

                var toggle = false;

                function overviewClicked() {
                    toggle = !toggle;
                    var target = document.getElementById('overviewContainer');
                    if( toggle) {
                        target.style.height = overvieContentHeight;
                        target.style.display = "block";
                    }
                    else {
                        target.style.height = 0;
                        target.style.display = "none";
                     }
                }                        
            </script>
    </body> 