@{
    ViewBag.Title = "Technical Due Diligence";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

         <style>
            .master {
                margin-bottom: 20px;
                background: #222222;
            }

            .h4 {
                font-size: 36px;
                font-size: 5.4vw;
                font-family: roboto;
            }

            .h3 {
                font-size: 40px;
                color: #800080;
            }

            .quote {
                font-size: 50px;
                color: #800080;
                font-weight: bold;
            }

            p {
                font-family: open-sans, Sans-serif, monospace;
                font-size: 1em;
                letter-spacing: 2px

            }

        </style>

    </head>

    <body class="master">
        <div style="margin-top: 120px">
            <div class="row">
                    <div class="col">
                        <h4 class="h4">Performing</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">a</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Technology</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Due Diligence</h4>
                    </div>
                </div>
            </div>
    
        <div style="margin-top: 50px">
            <h3 class="h3"><a href="#" onclick="toggle('preparation');">Preparation</a></h3>
            <div id="preparation" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id="establishProtocol"/> Establish a protocol for staff to gain access to information.
                    <p><input type="checkbox" class="checkbox" id="hostDataRoom"/> Host a secure data room in the customer's local or cloud file system.
                    <p><input type="checkbox" class="checkbox" id="toc"/> Commit a Table of Contents to the data room.
                </ul>
            </div>

            <h3 class="h3"><a href="#contact" onclick="toggle('contact');">Contact</a></h3>
            <div id="contact" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id="discovery"/> Conduct an initial discovery meeting.
                    <p><input type="checkbox" class="checkbox" id="minutes"/> Commit minutes to the data room.
                </ul>
            </div>

            <h3 class="h3"><a href="#overview" onclick="toggle('overview');">Overview</a></h3>
            <div id="overview" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Create or update the Org Chart.
                    <p><input type="checkbox" class="checkbox" id=""/> Describe IT infrastructure.
                    <p><input type="checkbox" class="checkbox" id=""/> Describe the application layer.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce information flow narrative.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate major project initiatives.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce IT Project Management Platform & Processing deck.
                    <p><input type="checkbox" class="checkbox" id=""/> Categorize and implement Punch List items.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit artifacts to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#interviews" onclick="toggle('interviews');">Interviews</a></h3>
            <div id="interviews" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct employee interviews.
                    <p><input type="checkbox" class="checkbox" id=""/> Review findings and repeat info gathering.
                    <p><input type="checkbox" class="checkbox" id=""/> Status Update.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit reviews and status update to the data room.
                </ul>
            </div>

            <h3 class="h3"><a href="#organization" onclick="toggle('organization');">Organization and Operations</a></h3>
            <div id="organization" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Review policies and procedures.
                    <p><input type="checkbox" class="checkbox" id=""/> Present Platform Org & Development PPT.
                    <p><input type="checkbox" class="checkbox" id=""/> Gather feedback and commit to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#sdlc" onclick="toggle('sdlc');">Software Development Lifecycle</a></h3>
            <div id="sdlc" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Review items in technology project tracking software.
                    <p><input type="checkbox" class="checkbox" id=""/> Review items in the engineering ticketing system.
                    <p><input type="checkbox" class="checkbox" id=""/> Document Change Management process.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate the Quality Assurance process.
                    <p><input type="checkbox" class="checkbox" id=""/> Document production deployment process.
                    <p><input type="checkbox" class="checkbox" id=""/> Obtain release notes from prior months.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit artifacts to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#security" onclick="toggle('security');">Security</a></h3>
            <div id="security" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Review the most recent security audit.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate leased privilege and user access rights. 
                    <p><input type="checkbox" class="checkbox" id=""/> Perform analysis of partner access to resources.
                    <p><input type="checkbox" class="checkbox" id=""/> Analyze the platform for a penetration test.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct analysis of customer logins and 2-Factor Authentication.
                    <p><p><input type="checkbox" class="checkbox" id=""/> Conduct PII analysis.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate opportunities to conduct an external security review.
                    <p><input type="checkbox" class="checkbox" id=""/> Review certificates of authority and expiration.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct code review on each code repository.
                    <p><input type="checkbox" class="checkbox" id=""/> Review the monitoring of software patch updates.
                    <p><input type="checkbox" class="checkbox" id=""/> Review the policy for handling sensitive data.
                    <p><input type="checkbox" class="checkbox" id=""/> Write an opinion on Security Posture.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit artifacts to the data repository.
                </ul>
            </div>
            <h3 class="h3"><a href="#quality" onclick="toggle('quality');">Quality</a></h3>
            <div id="quality" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Functional tests, integration tests, canaries, meters, monitors, and alarms.
                    <p><input type="checkbox" class="checkbox" id=""/> Review of user acceptance testing.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate existing coding standards.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct a review of data repositories.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct a review of backup and expiration policies of data repositories.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct analysis of multi-tenancy models.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct a review of data migration practices.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct a review of data retention practices.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct a review of employed rule engines.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct a review of rule artifacts.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate platform scalability capabilities.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate recovery point and recovery time objectives.
                    <p><input type="checkbox" class="checkbox" id=""/> Obtain a history of outages and downtime.
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct Failure Mode Analysis.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate controls on the product, pricing, and fees.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce an Explanation of Application Components.
                    <p><input type="checkbox" class="checkbox" id=""/> Update opinion on Security Posture.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit artifacts to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#diagraming" onclick="toggle('diagraming');">Diagraming</a></h3>
            <div id="diagraming" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Produce Footprint Diagram.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce Physical Diagram.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce Platform Architecture.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce Network Diagram.
                    <p><input type="checkbox" class="checkbox" id=""/> Product Deployment Diagram.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit artifacts to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#vendors" onclick="toggle('vendors');">Vendors</a></h3>
            <div id="vendors" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Obtain vendor contracts.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce vendor list including name, the reason for the contract, expiration date and pricing model used.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate open source licensing.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate paid-for software licenses.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#ce" onclick="toggle('ce');">Customer Engagement</a></h3>
            <div id="ce" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Explain customer list or lead aggregation strategy.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate analytics platform.
                    <p><input type="checkbox" class="checkbox" id=""/> List customer contact points.
                    <p><input type="checkbox" class="checkbox" id=""/> Customer support phone or chat support.
                    <p><input type="checkbox" class="checkbox" id=""/> Document direct mail, email, SMS and push notification strategy.
                    <p><input type="checkbox" class="checkbox" id=""/> Email strategy.
                    <p><input type="checkbox" class="checkbox" id=""/> SMS strategy.
                    <p><input type="checkbox" class="checkbox" id=""/> Push Notification strategy.
                    <p><input type="checkbox" class="checkbox" id=""/> Document customer retention process.
                    <p><input type="checkbox" class="checkbox" id=""/> Document customer support process.
                    <p><input type="checkbox" class="checkbox" id=""/> Describe the customer discount process.
                </ul>
            </div>
            <h3 class="h3"><a href="#bc" onclick="toggle('bc');">Business Continuity</a></h3>
            <div id="bc" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate the business continuity plan.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate strategy for a loss of key staff members.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce IT Budget and Spend Matrix, including infrastructure, licensing, and OpEx.
                    <p><input type="checkbox" class="checkbox" id=""/> Produced explanation of software deprecation, upgrades, and replacement road map.
                    <p><input type="checkbox" class="checkbox" id=""/> Collect regulatory audits and control documentation and commit to the data room.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce a list of technical certifications, awards, and premier partnerships.
                    <p><input type="checkbox" class="checkbox" id=""/> Explanation of critical vendor services.
                    <p><input type="checkbox" class="checkbox" id=""/> Explanation of partner on-boarding process.
                    <p><input type="checkbox" class="checkbox" id=""/> Explanation of public-facing APIs.
                    <p><input type="checkbox" class="checkbox" id=""/> Explanation of the content delivery network.
                    <p><input type="checkbox" class="checkbox" id=""/> Explanation of data repositories.
                    <p><input type="checkbox" class="checkbox" id=""/> Explanation of staff computer hardware/software, engineering hardware, and software used in normal business operations.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate help desk procedures.
                    <p><input type="checkbox" class="checkbox" id=""/> Review of operational failure plans.
                    <p><input type="checkbox" class="checkbox" id=""/> Review of runbooks.
                    <p><input type="checkbox" class="checkbox" id=""/> Review of RPO/RTO and strategy.
                    <p><input type="checkbox" class="checkbox" id=""/> Produce a narrative on automation.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit artifacts to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#operations" onclick="toggle('operations');">Operations</a></h3>
            <div id="operations" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Document meters, monitors, alarms and escalation processes.
                    <p><input type="checkbox" class="checkbox" id=""/> Document on-call rotation.
                    <p><input type="checkbox" class="checkbox" id=""/> Document weekly and monthly ops reviews.
                    <p><input type="checkbox" class="checkbox" id=""/> Evaluate operational readiness.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit artifacts to the data room.
                </ul>
            </div>
            <h3 class="h3"><a href="#compliance" onclick="toggle('compliance');">Compliance</a></h3>
            <div id="compliance" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Cloud Security Alliance Controls (CSA) compliance review.
                    <p><input type="checkbox" class="checkbox" id=""/> ISO 9001:2015 quality management compliance review.
                    <p><input type="checkbox" class="checkbox" id=""/> ISO/IEC 27001:2013 security compliance review.
                </ul>
            </div>
            <h3 class="h3"><a href="#postmortem" onclick="toggle('postmortem');">Postmortem</a></h3>
            <div id="postmortem" style="display: none">
                <ul>
                    <p><input type="checkbox" class="checkbox" id=""/> Conduct GAP analysis.
                    <p><input type="checkbox" class="checkbox" id=""/> Patent findings.
                    <p><input type="checkbox" class="checkbox" id=""/> Opportunities for cost reduction.
                    <p><input type="checkbox" class="checkbox" id=""/> Opportunities for revenue growth.
                    <p><input type="checkbox" class="checkbox" id=""/> Present opinion on options for technology offering.
                    <p><input type="checkbox" class="checkbox" id=""/> Record feedback.
                    <p><input type="checkbox" class="checkbox" id=""/> Commit articles to the data room.
                </ul>
            </div>
        </div>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
        
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>

       <script>
            function toggle(source) {
                $("#" + source).slideToggle("slow");
            }
        </script>
    </body> 